<div id="setB_paragraph">
  <h2>
    Set I: 6 Highly Volatile Stocks and their Performance over the Years 2014-2016
  </h2>
  <p>
    <%= image_tag 'setB_returnOutput2.png', size: "512x384", id: "setB_returns_image" %>
    The stocks selected for this collection are the following:
    <ul>
      <li>AMM.TO - Almaden Minerals Ltd.</il>
      <li>EPL.V - Eagle Plains Resources Ltd.</il>
      <li>GZZ.V - Golden Valley Mines Ltd.</il>
      <li>MUX.TO - McEwen Mining Inc.</il>
      <li>PLI.TO - ProMetic Life Sciences Inc.</il>
      <li>RDU.V - Radius Gold Inc.</il>
    </ul>

    The graphs below shows the average returns for the six stocks over the 
    period of April 1st, 2014 to June 30th, 2016. The over the course of 
    those 26 months averages at nearly 500%. That is, if you had started 
    with $100,000 and followed the advice given by &Omega;-26, you'd have 
    your intial $100,000 plus an additional $500,000 for a total of $600,000!
  </p>

  <p>
    To accomplish such phenomenal returns, &Omega;-26 periodically studies 
    the intricit trends of each stock and finds investment strategies that 
    are unique to each stock's volatility, but can be generlized for future 
    gains. But this does not only work for extremely volatile stocks. 
    &Omega;-26 can also find good investment decisions for the less 
    volatile stocks.
  </p>
</div>