<div id="setC_paragraph">
  <h2>
    Set II: 10 Low Volatility Stocks and their Performance over the Years 2009-2016
  </h2>
  <p>
    <%= image_tag 'setC_returnOutputs.png', size: "512x384", id: "setC_returns_image" %>
    The stocks selected for this collection are the following:
    <ul>
      <li>BA - The Boeing Company</il>
      <li>CAT - Caterpillar Inc.</il>
      <li>IBM - International Business Machines Corporation</il>
      <li>JNJ - Johnson & Johnson.</il>
      <li>MMM - 3M Company</il>
      <li>MO - Altria Group, Inc.</il>
      <li>MSFT - Microsoft Corporation</il>
      <li>MPG - Metaldyne Performance Group Inc.</il>
      <li>UTX - United Technologies Corporation</il>
      <li>XOM - Exxon Mobil Corporation</il>
    </ul>

    Since this stock portfolio is composed of less volatile stocks, it gives more modest returns over a longer time period. While the volatile stocks returned nearly 400% of the investment over 2 years, this portfolio returns about 105% of the investment over 7 years. However, these companies are more estabished and lend themselves to greater confidence in their ability to survive difficult economic times. If you had invested $100,000 in this portfolio using &Omega;-26, you would have made an additional $105,000 over the course of Jan 1st, 2009 to June 30th, 2016.
  </p>

  <p>
    Whether the stock portfolio managed is aggresive and high volatility, or conservative and low volatility, &Omega;-26 is able to make sound financial decisions based on daily updates, trend reviews, and advanced optimization techniques. The &Omega;-26 system owes its success to its ability to objectively judge the state of the market and make valid decisions meant to maximize return from the market.
  </p>
</div>