<div class="main" id="indexPageDiv">
  <div class="container">
    <div id="algorithm_explained">
      <h1>The &Omega;-26 System</h1>
      <p>
        The &Omega;-26 system uses Genetic Algorithms in order to study the stock market and produce recoomendations for investors. By studying recent trends in the stock market, and iteretively testing better and better solutions, &Omega;-26 can find profitable trends in the market to take advantage of.
      </p>
      <p>
        The first step for &Omega;-26 is to study the recent fluctuations in each individual stock. It then uses Genetic Algorithms in order to find trading patterns that would optimize profits during recent periods. Finally, it adapts those patterns to the projected fluctuations in stock prices over the near future, thus producing a set of decisions for traders.
      </p>
    </div>
  </div>
</div>