<div class="main">
  <div class="container">

    <h1>
      Previous Performance over Diverse Stock Collections
    </h1>
    <p>
      My confidence in &Omega;-26 is based in its performance over a wide and diverse set of stock collections and its consistent ability to make data based decisions to produce outstanding returns. This page displays a simple set of four stock collections and their performance over different time period subject to &Omega;-26's decisions.
    </p>



    <%= render "pages/setB" %>
    <%= render "pages/setC" %>
  </div>
</div>